/*************
*   Footer   *
*************/

footer{
  display: flex;
/*   position: fixed;
  bottom: 0; */
  border-top: 1px solid;
  flex-flow: row nowrap;
  padding-top: 10px;
  text-align: center;
  height: 7.5rem;
  width: 100%;
  min-width: 43.75rem;
}
footer div{ width: calc(100%/3) }
