/************
*   Aside   *
************/

aside, article{
  margin-top: 2%;
  padding: 15px;
  background-color: rgb(160,160,160);
}

aside h2{ font-weight: bold; text-align: center; }
aside h3{ font-size: 19px; font-weight: medium; text-align: center; }
aside>p{ text-align: justify; }

/**************
*   Article   *
**************/

article{
  text-align: center;
  width: 49%;
}

article ul{
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}

article a{ color: blue; text-decoration: underline; }